
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #BA1F33;
  border-bottom: 10px solid #000;
  padding: 10px 20px;
       }
       
  div{
  font-family: 'Press Start 2P', sans-serif;
  color: white;
  font-size: 40px;
  text-shadow: 5px 5px 0px #000 
      }

nav {
  text-align: right;
  }

   a {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-family: 'Fira Code', Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}  

 a::before {
  content: "";
  background-color: #F25A70;
  width: 10px;
  height: 10px;  
  margin-right: 10px;
}





 