#button {
    display: inline-block;
    background-color: white;
    box-shadow: 5px 5px 0px black; 
    padding: 24px 15px;
    margin-right: 0px;
    color: red;
    transition: transform 380ms cubic-bezier(.5,.12,.53,2.59);
    font-family: 'Press Start 2P', sans-serif;
    font-size: 15px;
    }
  
  #button:hover {
    background-color: #000;
    transform: scale(0.90);
   }